body {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 881px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.background {
    position: absolute;
    top: 127px;
    left: 0;
    width: 100vw;
    height: 406px;
    background-color: #495E57;
    z-index: -1;
  }

.topNavigation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Karla;
    font-weight: medium;
    font-size: 20px;
    min-height: 128px;
    margin: 0;
}

.topNavigation img {
    padding-right: 50px;
}

.topNavigation ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.topNavigation li:not(:first-child) {
    padding-left: 28px;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    justify-content: space-around;
}

.call-to-action {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
}

.cta_content h2 {
    margin: 0;
    color: #F4CE14;
}

.cta_content h3 {
    color: white;
    font-size: 18px;
    font-family: Markazi;
    font-weight: medium;
    margin: 0;
}

.cta_content p {
    font-family: Karla;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.cta_content button {
    background-color:#F4CE14;
    min-height: 60px;
    min-width: 200px;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 700;
    font-family: Karla;
}

.cta_image {
    padding-top: 23px;
    margin-bottom: -49px;
}

.cta_content h2 {
    font-family: Markazi;
    font-weight: regular;
    font-size: 40px;
    margin-bottom: 0;
}

.specials {
    padding-top: 50px;
}

.specials h2 {
    font-size: 40px;
    font-weight: regular;
    font-style: Markazi;
    margin: 0;
}

.specials h3 {
    font-family: Karla;
    font-weight: medium;
    font-size: 18px;
    margin: 0;
    line-height: 90%;
}

.card_content p {
    font-family: Karla;
    font-size: 16;
    font-weight: regular;
}

.card_header p {
    font-family: Karla;
    font-weight: bold;
    font-size: 16px;
    color: #EE9972;
}

.specials ul {
    display: flex;
    justify-content: space-between;
    list-style: none;

}

.specials li, .specials img {
    max-width: 264px;
}

.specials li:not(:first-child) {
    padding-left: 34px;
}

.card {
    background-color: #EDEFEE;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

}

.card_content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 254px;
}

.order {
    margin-top: auto;
    padding-bottom: 10px;
    font-weight: bold;
}

.order img {
    margin-left: 10px;
}

.card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.testimonials h2 {
    padding-top: 102px;
    text-align: center;
    font-size: 40px;
    font-family: Markazi;
    font-weight: regular;
    color: #F4CE14;
    margin: 0;
}

.testimonials ul {
    display: flex;
    justify-content: space-between;
    padding-bottom: 268px;
}

.testimonials li {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    list-style: none;
    width: 197px;
    height: 178px;
    background-color: white;
    border-radius: 16px;
}

.testimonials img {
    min-height: 32px;
    margin-right: 8px;
}

.testimonials p {
    margin: 0px;
}

.stars {
    padding-bottom: 21px;
}

.testimonials .content {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    font-family: Karla;
    padding-bottom: 20px;
}

.review {
    font-size: 12px;
    font-weight: regular;
    font-family: Karla;
}

.backgroundTestimonials {
    position: absolute;
    top: 1247px;
    left: 0;
    width: 100vw;
    height: 590px;
    background-color: #495E57;
    z-index: -1;
}

.chicago .content {
    display: flex;
    flex-direction: column;
    max-width: 373px;
    padding-right: 49px;
}

.chicago {
    display: flex;
    flex-direction: row;
}

.chicago h2 {
    font-family: Markazi;
    font-size: 40px;
    font-weight: regular;
    margin: 0;
}

.chicago h3 {
    font-family: Markazi;
    font-style: 18px;
    font-weight: medium;
    margin: 0;
}
.chicago p {
    font-family: Karla;
    font-size: 16px;
    font-weight: regular;
}

footer {
    background-color:#495E57;
    color: white;
    height: 417px;
    display: flex;
    align-items: center;
}

footer img {
    max-height: 279px;
}

li {
    list-style: none;
}

h2, h3 {
    margin: 0;
}

footer p, footer a {
    font-family: Karla;
    font-size: 16px;
    font-weight: regular;
    color: white;
}

footer p, footer ul {
    margin: 0;
    padding: 0;
}