* {
    padding: 0;
}

.topNavigation {
    display: flex;
    justify-content: center;
}

.topNavigation img {
    padding-right: 50px;
}

.topNavigation ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.topNavigation li:not(:first-child) {
    padding-left: 28px;
}

a {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-around;
}